/* style.css */

@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
}

.slide{
    width:100%
}

.c-item{
    object-fit: cover;
    height:500px;
    

}

.c-img{
  height:100%;
  object-fit: cover;
}

.active{
    display: block;
}


.language-bar {
    position: fixed;
    font-weight: bold;
    color: #FFF;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #281c3e;
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: 1000;
}


.language-button {
    margin-right: 50px;
    margin-left: auto;
    border-radius: 8px;
    background-color: #4a044e; /* Change button background color */
    color: #fff; /* Change button text color */
    border: none;
    padding: 10px;
    cursor: pointer;
    max-width: 180px; /* Set a maximum width for the button */
    overflow: hidden; /* Hide overflow content beyond the maximum width */
    white-space: nowrap; /* Prevent button text from wrapping */
    /*text-overflow: ellipsis;  Show ellipsis (...) for truncated text */
}



/* styles.css */


 .navigation {
    margin-top: 45px;
     height: 66px;
     background: linear-gradient(45deg,#281c3e, #0f051d);
}
 .brand-logo{
     position: absolute;
     padding-left: 20px;
     float: left;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}

.brand-logo a img{
    position: absolute;
    top:6px;
    background-blend-mode: multiply;
    height: 70px;
    width :70px;
    border-radius: 20px;
}
 .brand-logo a, .brand a:visited {
     color: #ffffff;
     text-decoration: none;
}
 .nav-container {
     max-width: 1000px;
     margin: 0 auto;
}
 nav {
     float: right;
     padding: 10px;
}

 nav ul {
     list-style: none;
    margin: 0;
     padding: 0;
}
 nav ul li {
     float: left;
     position: relative;
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     color: #fff;
     background: #262626 ;
     text-decoration: none;
}
 nav ul li a{
     background: transparent;
     color: #FFF;
}
 nav ul li a:hover, nav ul li a:visited:hover {
     background: #4338ca;
     color: #ffffff;
}
 .nav-dropdown li a{
     background: #2581DC;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 190px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #220303;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
  }

  
  
/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 7px;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}

.mob-title{
    display:none;
}
 @media only screen and (max-width: 800px){
     .nav-mobile {
         display: block;
    }

.a-imge{
    width:200px;
    height:200px;
}
    .about{
        flex-direction: column;
    }

.title{
    display: none;
}

    .mob-title{
        display: flex;
    }
     nav {
         width: 100%;
         padding: 55px 0 15px;
    }
     nav ul {
         display: none;
         top:11px;
         position: relative;
    }
     nav ul li {
         float: none;
         margin:auto;
    }
     nav ul li a {
         padding: 15px;
         line-height: 20px;
         background: #262626;
    }
     nav ul li ul li a {
         padding-left: 30px;
    }
     .nav-dropdown {
         position: static;
}
 }
 @media screen and (min-width:800px) {

    .language-button{
        margin-right: 12px;
    }
     .nav-list {
         display: block !important;
    }

    
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 64px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
 

.parentmar {
    width: 100%;
    top: 20px;
    font: 18px bold Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#31064a;
    color: #fff;
  }

  .childmar {
    background:#0f051d;
    padding: 10px 20px;
    line-height: 18px;
    width: fit-content;
    font: 20px bold;
    color: floralwhite;
    margin: 0;
  }

.facilit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
  .about{
    
    
    
    margin: 30px 100px;
    align-items: center ;
    justify-content: center;
    
    display: flex;
    flex-direction:row;
  }


 .team{
    display: flexbox;
    flex-direction: row;
 }


  .nav{
    width:80%;
    margin-left: 10%;;
    margin-right: 10%;
    margin:10% 10% 10% 10%;
  }


  .team{
    
	position: relative;
	width: 100%;
	height: 50vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 3rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #030000;
	font-size: 3rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}

